:root {
  --mainBrown:#2d1e1f;
  --mainYellow:rgb(255, 158, 9);
  --mainGolden: rgb(179, 141, 91);
  --mainGrey:#ece8dc;
  --mainWhite:#fff;
  --mainDark:#222;
  --fullDark:rgb(0, 0, 0);
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;  
}

.text-yellow {
  color: var(--mainYellow);  
}

.text-white {
  color: var(--mainWhite);
  text-transform: uppercase;
}

.text-left {
  text-align: left!important;
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 1.6rem;
  margin-top: 0.4rem;
  display: none;
}

.default-background {
  min-height: 100vh;  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-position: center; 
  background-size: cover;
}

.default-background h1 {
  margin-top: 10rem;
  font-size: 2rem;
  max-width: 500px;  
  text-align: center;
}
.about-background {
  min-height: 88vh;  
  display: flex;
  align-items: center;
  justify-content: left;
  background-position: right; 
  background-size: initial;
}

.marginLeft2rem {
  margin-left: 3rem;
}

.prContainer {
  width: 320px;
  margin-left: .8rem;
}

.paperFont {
  font-size: 0.9rem;
  color: var(--mainGolden);
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif !important;
}

.paperFont-title {
  color: var(--mainWhite);
  font-size: 3.5rem;
}

@media (min-width: 675px) {
  .prContainer {
    width: 790px;
    margin-left: 4rem;
  }
  
  .paperFont {
    font-size: 1.3rem;
    color: var(--mainGolden);
    letter-spacing: 0.9px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif !important;
  }
  
  .paperFont-title {
    color: var(--mainWhite);
    font-size: 5.5rem;
  }  
}


.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}

.btn-hidden {
  display: none;
}

.footer {
  background: var(--fullDark);  
}

#navbar-logo {
  width: 70% !important;
  max-width: 3.7rem;
}

.menu,
.contact {
  background: var(--mainGrey);  
}
